<div class="all-container border-box flex column gap-05em">
    <div [ngClass]="{'habit-breaker-img': project.name === 'Habit Breaker Web','triple-t-img': project.name === 'Triple T Gym','lmf-img': project.name === 'Likes Meter Flicks','portfolio': project.name === 'My Portfolio','neutinos': project.name === 'Neutrinos Operations'}"
        class="project pointer relative">
        <div class="title absolute">
        </div>
        <img src="../../../assets/images/ng.png" alt="" class="framework absolute">
        <img src="../../../assets/images/nodejs.png" alt="" class="nodejs absolute">
        <img src="../../../assets/images/mongodb.png" alt="" class="mongodb absolute">
    </div>
    <div class="desc flex column">
        <div class="flex a-center gap-05em">
            <p class="margin-0 descP">{{project.title | titlecase}}</p>
            <div *ngIf="project.live" class="live-container flex a-center gap-05em">
                <div class="glow-circle"></div>
                <small>Live</small>
            </div>
        </div>
        <small>{{project.about}}</small>
        <div class="flex column gap-05em">
            <p class="stack-desc margin-0 descP">Technology Stack</p>
            <div class="flex a-center stacks-container">
                <div *ngFor="let tech of project.technologies" class="stack flex center-center">
                    <small class="margin-0">{{tech}}</small>
                </div>
            </div>
            <div>
                <hr class="hr full-width">
                <div (click)="close()" class="flex actions-container  a-center j-end gap-1em">
                    <div class="action close pointer flex center-center">
                        <img src="../../../assets/icons/white-close.svg" alt="">
                        <small>CLOSE</small>
                    </div>
                    <div (click)="routeTo(project.git)" class="action git pointer flex center-center">
                        <img src="../../../assets/icons/white-git.png" alt="">
                        <small>GITHUB</small>
                    </div>
                    <div (click)="routeTo(project.deployment)" class="action pointer flex center-center">
                        <img src="../../../assets/icons/white_open_in_new.svg" alt="">
                        <small>VISIT SITE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>