<div class="all-container border-box flex column gap-05em">
    <div class="project pointer relative">
        <div class="title absolute">
            <p class="margin-0 text-center">My Portfolio</p>
        </div>
        <img src="../../../assets/images/ng.png" alt="" class="framework absolute">
        <img src="../../../assets/images/nodejs.png" alt="" class="nodejs absolute">
        <img src="../../../assets/images/mongodb.png" alt="" class="mongodb absolute">
    </div>
    <div class="desc flex column">
        <p class="margin-0 descP">My Portfolio | Full Stack MEAN Application</p>
        <small>Lorem, ipsum dolor sit amet conacere doloribus possimus excepturi vitae ducimus deleniti commodi esse
            dignissimos quasi ab consequatur repellat! Quam, repellat cupiditate?</small>
        <div class="flex column gap-05em">
            <p class="stack-desc margin-0 descP">Technology Stack</p>
            <div class="flex a-center stacks-container">
                <div class="stack flex center-center">
                    <small class="margin-0">AngularJS</small>
                </div>
                <div class="stack flex center-center">
                    <small class="margin-0">Node.js</small>
                </div>
                <div class="stack flex center-center">
                    <small class="margin-0">MongoDB</small>
                </div>
            </div>
            <div>
                <hr class="hr full-width">
                <div class="flex actions-container  a-center j-end gap-1em">
                    <div class="action close pointer flex center-center">
                        <img src="../../../assets/icons/white-close.svg" alt="">
                        <small>CLOSE</small>
                    </div>
                    <div class="action git pointer flex center-center">
                        <img src="../../../assets/icons/white-git.png" alt="">
                        <small>GITHUB</small>
                    </div>
                    <div class="action pointer flex center-center">
                        <img src="../../../assets/icons/white_open_in_new.svg" alt="">
                        <small>VISIT SITE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>