$project-black: black;
$project-red: red;
$primary-blue: #331c52;
$primary-bg: #323332;

.main-container {
    background-color: ghostwhite;
    overflow-x: hidden;

    nav {
        height: 50px;
        background-color: $project-black;
        color: white;

        .inner-nav {
            width: 67%;
            margin-left: 7em;

            .p {
                font-size: 15px;
            }

            .mean-words {
                height: 32px;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }

        .gap-16em {
            gap: 1.6em;
        }

        .boxText {
            background-color: red;
        }
    }

    .sphere {
        margin-left: 11em;
        margin-top: -2em;
    }

    .gap-3em {
        gap: 3em;
    }

    .box-container {
        // margin-left: -9.5em;
        margin-top: -1em;
        gap: 8em;

        img {
            margin-top: -30px;
        }

        .contactP {
            font-size: 32px;
            color: $primary-blue;
            margin-top: 0em;
        }

        form {
            margin-top: -1em;
            margin-left: 3em;

            .input-container {
                // height: 55px;
                position: relative;
            }

            input,
            textarea {
                padding: 6px;
                padding-left: 10px;
                border-radius: 5px;
                border: 1px solid #c8bdd6;
                font-weight: 500;
                font-size: 12px;
                font-family: "Poppins", sans-serif;

                &:focus {
                    padding: 1px solid;
                    outline: none;
                }
            }

            input {
                height: 23px;
            }


            .btn {
                height: 26px;
                background-color: $primary-blue;
                color: white;
                width: 74%;
                border-radius: 13px;
                padding: 2px;
                gap: .2em;

                &:hover {
                    color: $primary-blue;
                    background-color: #cdcdcd;
                }

                mat-icon {
                    rotate: -45deg;
                    margin-top: -6px;
                }
            }
        }

        .interestedSubject {
            padding: 4px;
            background-color: #cdcdcd;
            border-radius: 6px;
        }

        .subj-container {
            margin-top: 1.5em;

            .p {
                font-size: 20px;
                font-weight: 200;
                height: 30px;
            }

            .inner-subj-container {
                width: 270px;
            }
        }
    }

    .selected-subj {
        background-color: $primary-blue !important;
        color: white;
    }

    .mean-stack {
        width: 301px;
    }

    .skills-container {

        .inner-skills {
            width: 70%;

            .title {
                font-weight: 500;
                text-align: end;
                width: 200px;
            }

            .row-gap {
                gap: 5em;
            }

            .technical-items {
                margin-left: -5em;
            }

            .feature-container {
                position: relative;

                .feature {
                    position: absolute;
                    top: -19px;
                    left: calc(50% - 67px);
                }
            }

        }

        .skills-divider {
            left: 43%;
            bottom: -55.5%;
            height: 230px;
        }
    }

    .projects-container {

        .inner-projects {
            width: 70%;

            .all-container {
                margin-top: 1em;
                margin-bottom: 1em;

                .project {
                    position: relative;
                    width: 270px;
                    height: 200px;
                    background-image: url("../../../assets/images/neutrinos-project-landing.png");
                    background-size: 121%;
                    background-repeat: no-repeat;

                    .title {
                        top: 13px;
                        width: 269px;

                        p {
                            font-size: 16px;
                        }
                    }

                    .framework {
                        height: 36px;
                        left: 6px;
                        top: 8px;
                    }

                    .nodejs {
                        height: 42px;
                        bottom: 9px;
                        left: 58px;
                    }

                    .mongodb {
                        height: 37px;
                        bottom: 10px;
                        left: 9px;
                    }
                }

                .soon {
                    width: 270px;
                    height: 200px;
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

.portfolio {
    background-image: url("../../../assets/images/default-bg-img.png") !important;
    background-size: cover !important;
}

.portfolio-img {
    background-image: url("../../../assets/images/dahboard.png") !important;
    background-size: cover !important;
}

.timeline-area {
    width: 360px;
    padding: 0px 20px 0px 30px;
    // border-left: 2px solid $primary-blue;

    .timeline {
        background-color: $primary-blue;
        padding: 0px 25px;
        padding-bottom: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        line-height: 1.7;
        position: relative;
        color: white;
        border-radius: 7px;
        cursor: pointer;
    }

    .timeline::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        // background-color: black;
        // border: 3px solid #ddd;
        position: absolute;
        top: 10px;
        left: -40px;
    }

    .timeline::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent $primary-blue transparent transparent;
        border-width: 8px;
        position: absolute;
        left: -17px;
        top: 10px;
    }

    h2 {
        font-size: larger;
        font-weight: 500;
    }

    p {
        padding: 0px 6px;
        color: black;
        background-color: white;
        border-radius: 27px;
    }
}

.heading {
    padding: 8px 36px;
    color: white;
    background-color: $primary-bg;
    border-radius: 27px;

    p {
        font-weight: 500;
    }
}

.content {
    width: 470px;
}

.span {
    color: #aa0d79;
}

.projects-summary {
    width: 200px;

    p {
        font-size: large;
    }
}

.dimensions-container {
    width: 500px;
}

.color-red {
    color: $project-red;
}

.error-msg {
    color: red;
    position: absolute;
    bottom: 0px;
    left: 6px;

    small {
        font-size: 12px;
    }
}

.profile {
    margin-left: 2em;
    margin-top: 2em;

    .name {
        font-weight: 400;
        width: 476px;

        span {
            font-size: 30px;
            font-weight: 500;
        }
    }

    .profileImg {
        height: 183px;
        border: 2px solid black;
        border-radius: 50%;
        padding: 2px;
    }

    .follow-Icons {
        gap: .7em;

        .container {
            height: 34px;
            width: 34px;
        }
    }

    .git {
        height: 33px;
    }

    .linkedIn {
        height: 31px;
    }

    .x {
        height: 28px;
    }
}

.contacts {
    margin-bottom: 1em;

    .follow-Icons {
        gap: 1em;
    }

    .git {
        height: 29px;
    }

    .linkedIn {
        height: 27px;
    }

    .x {
        height: 24px;
    }
}

@media screen and (max-width: 1115px) {

    .sphere,
    .profile {
        margin-left: 0em !important;
        margin-top: 0em !important;
    }

    .profile {
        gap: 1em;
        padding-left: 1em;
    }

    .box-container {
        img {
            display: none;
        }
    }

    .main-container nav .inner-nav {
        margin-left: 0em !important;
    }

    // form {
    //     gap: 0em;
    // }
}

@media screen and (max-width: 1115px) {
    .profile-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .profile {
        gap: 1em;
        padding-left: 0em;
    }

    .inner-nav {
        flex-direction: column;
        align-items: center;
    }

    .sub-box-container {
        flex-direction: column;
        align-items: center;
        gap: .5em;
        margin-top: 0em;
    }

    .contactP {
        margin-top: .5em !important;
    }

    form {
        margin-top: 0em !important;
        margin-left: 0em !important;
    }

    .skills-3d {
        flex-direction: column;
    }

    .su {
        margin-top: 0em;
    }
}

@media screen and (max-width: 803px) {
    .gap-16em {
        gap: 1em !important;
    }

    .profile {
        flex-direction: column;
    }

    .content {
        width: 320px;
    }

    .profile .name {
        width: fit-content;
    }


    .contactP {
        text-align: center;
    }

    .main-form {
        flex-direction: column;
        gap: 1.5em;
    }

    .subj-container {
        margin-top: 0em !important;
    }

    .show-firstname {
        display: none;
    }

    .timeline-area {
        width: 281px
    }

    .all-container {
        flex-direction: column;
        align-items: center;
    }

    .inner-projects {
        width: 72% !important;
    }

    .profileDesc {
        font-size: large;
    }

    .name {
        text-align: center;

        span {
            font-size: 32px;
        }
    }

    form {
        .btn {
            width: 62% !important;
        }
    }
}